.row
  .col-sm-12
    ul.nav.nav-pills
      li
        h1.header Your Dashboard
      li.spacer
        &nbsp;
      li.pull-right
        button.btn.btn-md.btn-default#home-profile(type='button') Profile
        button.btn.btn-md.btn-default#home-logout(type='button') Logout
hr.colorgraph
.row
  .col-sm-6
    h3 Your offers
    table.table.table-striped.table-bordered.table-hover.bids
      thead
        tr
          th You Want
          th You Offer
          th To
          th
      tbody
        each bid in bids
          tr.bid
            td.item= bid.for.name
            td.item= bid.offer.name
            td.name
              if bid.to.email
                a(href='mailto:' + bid.to.email)= bid.to.username
              else
                =bid.to.username
            td#btn-col
              button.btn.btn-sm.btn-default.home-delete(id='id_' + bid._id) Cancel
  .col-sm-6
    h3 Offers to You
    table.table.table-striped.table-bordered.table-hover.offers
      thead
        tr
          th They Want
          th They Offer
          th From
          th
          th
      tbody
        each offer in offers
          tr.offer
            td.item= offer.for.name
            td.item= offer.offer.name
            td.name
              if offer.from.email
                a(href='mailto:' + offer.from.email)= offer.from.username
              else
                =offer.from.username
            td#btn-col
              button.btn.btn-sm.btn-default.home-accept(id='id_' + offer._id) Accept
            td#btn-col
              button.btn.btn-sm.btn-default.home-reject(id='id_' + offer._id) Reject
hr.colorgraph
.row
  .col-sm-12
    h3 Your items
    table.table.table-striped.table-bordered.table-hover.items
      thead
        tr
          th Name
          th Description
          th Location
          th Image
          th On Sale
          th
      tbody
        each item in items
          tr
            td.name= item.name
            td.description= item.description
            td.location= item.location
            td.picture
              if item.picture
                img.thumb(src=item.picture)
            td.onsale
              if item.forSale
                i.fa &#xf0d6;
            td#btn-col
              button.btn.btn-sm.btn-default.home-edit(id='id_' + item._id) Edit
    button.btn.btn-md.btn-default.pull-right#home-list List Item
hr.colorgraph
.row
  .col-sm-12
    h3 Items for Change
    table.table.table-striped.table-bordered.table-hover.items
      thead
        tr
          th Owner
          th Name
          th Description
          th Location
          th Image
          th
      tbody
        each item in listings
          tr
            td.owner
              if item.owner.email
                a(href='mailto:' + item.owner.email)= item.owner.username
              else
                =item.owner.username
            td.name= item.name
            td.description= item.description
            td.location= item.location
            td.picture
              if item.picture
                img.thumb(src=item.picture)
            td#btn-col
              button.btn.btn-sm.btn-default.home-view(id='id_' + item._id) View
.spacing